.button {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border: solid 3px;
  border-radius: 50px;
  background-color: transparent;
}

@media (min-width: @desktop-width) {
  .button {
    font-size: 21px;
    line-height: 18px;
  }
}
