.comment-form {
  margin: 0;
  padding: 0;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 41px;
  margin-bottom: 52px;
  text-align: center;
}

.comment-form__label {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
  font-size: 14px;
  line-height: 30px;
  color: @support-textcolor;
  text-align: center;
  text-transform: uppercase;
}

.comment-form__text {
  width: 100%;
  min-height: 197px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-right: 20px;
  padding-left: 19px;
  box-sizing: border-box;
  border: 2px solid @border-color;
  resize: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @main-textcolor;
}

@media (min-width: @tablet-width) {
  .comment-form {
    width: 616px;
    border: 1px solid @border-color;
  }

  .comment-form__text {
    width: 496px;
    margin-bottom: 53px;
  }

  .comment-form__label {
    display: block;
    width: 240px;
    margin: 0 auto;
    position: relative;
    top: 12px;
    background-color: @white-bgcolor;
  }
}
