.competitive-form {
  margin: 0 auto;
  padding: 0;
  background-color: @white-bgcolor;
}

.competitive-form__background {
  width: 100%;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.competitive-form__title {
  width: 230px;
  margin: 0 auto;
  padding: 100px 0 50px;
  margin-top: -70px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: @dominate-textcolor;
  line-height: 30px;
  text-align: center;
}

.competitive-form__item {
  position: relative;
  border: 0;
}

.competitive-form__text {
  width: 275px;
  margin: 0 auto;
  padding: 48px 0 35px;
  text-align: center;
  line-height: 30px;

  span {
    display: none;
  }
}

.competitive-form__explanation {
  margin: 0;
  padding: 30px 19px 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.competitive-form__explanation-full {
  display: none;
}

.competitive-form__asterisk {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: @support-textcolor;
}

.competitive-form__button {
  display: block;
  width: 276px;
  margin: 0 auto;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @dominate-textcolor;
  border: 0;
  border-radius: 4px;
  background-color: @formbutton-color;

  &:hover {
    background-color: @fbhover-color;
  }

  &:active {
    color: rgba(@dominate-textcolor, 0.3);
    background-color: @fbhover-color;
  }

  &:disabled {
    color: @dominate-textcolor;
    background-color: @disabled-color;
  }
}

@media (min-width: @tablet-width) {
  .competitive-form__background {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .competitive-form__list {
    display: flex;
    flex-direction: column;
  }

  .competitive-form__item--name {
    order: 0;
  }

  .competitive-form__item--app {
    order: 1;
  }

  .competitive-form__item--contact {
    order: 2;
  }

  .competitive-form__item--achievment {
    order: 3;
  }

  .competitive-form__form {
    padding: 0 21px;
  }

  .competitive-form__title {
    width: 480px;
    padding: 180px 0 80px;
    margin-top: -110px;
    font-size: 50px;
    line-height: 60px;
  }

  .competitive-form__text {
    width: 500px;
    padding: 92px 0 68px;
    font-size: 18px;
    line-height: 30px;

    span {
      display: inline;
    }
  }

  .competitive-form__button {
    width: 298px;
    height: 64px;
    margin: 0;
  }

  .competitive-form__explanation {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: @desktop-width) {
  .competitive-form__background {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .competitive-form__form {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  .competitive-form__title {
    width: 750px;
    padding: 170px 0 105px;
  }

  .competitive-form__text {
    width: 758px;
    padding-bottom: 60px;
  }

  .competitive-form__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .competitive-form__explanation {
    display: none;
  }

  .competitive-form__explanation-full {
    display: inline;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }
}
