.competitive-form {
  margin: 0;
  padding: 0;
  background-color: @white-bgcolor;
}

.competitive-form__title {
  margin: 0 auto;
  padding: 95px 46px 87px;
  margin-top: -70px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: @dominate-textcolor;
  line-height: 24px;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.competitive-form__item {
  border: 0;
}

.competitive-form__text {
  margin: 0;
  padding: 49px 25px;
  text-align: center;
  line-height: 30px;
}

.competitive-form__explanation {
  margin: 0;
  padding: 46px 19px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.competitive-form__asterisk {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: @support-textcolor;
}

.competitive-form__button {
  display: block;
  width: 276px;
  margin: 0 auto;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @dominate-textcolor;
  border: 0;
  border-radius: 4px;
  background-color: @formbutton-color;

  &:hover {
    background-color: @fbhover-color;
  }

  &:active {
    color: rgba(@dominate-textcolor, 0.3);
    background-color: @fbhover-color;
  }
}

.competitive-form__button:disabled {
  background-color: @disabled-color;
}
