.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-top: 101px;
    padding-bottom: 125px;
    background-color: @white-bgcolor;
    text-align: left;
  }

  .effect__wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .effect__text {
    margin: 0;
    padding: 0;
    padding-left: 310px;
    padding-right: 14px;
    position: relative;

    &::before {
      content: "24";
      width: 238px;
      height: 276px;
      position: absolute;
      bottom: -25px;
      left: 0;
      font-size: 96px;
      font-family: "OpenSans Bold", "Arial", sans-serif;
      color: @support-textcolor;
      text-align: center;
      line-height: 300px;
      display: block;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    p {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
    }
  }

  .effect__title {
    width: 170px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 36px;
    font-family: "OpenSans Bold", "Arial", sans-serif;
    color: @black-textcolor;
  }

  .effect__link {
    color: @support-textcolor;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    margin: 0;
    padding: 0;
    padding-top: 90px;
    padding-bottom: 116px;
    background-color: @main-bgcolor;
  }

  .effect__wrapper {
    width: 940px;
  }

  .effect__text {
    padding-left: 365px;
    padding-right: 50px;
    font-size: 18px;
    line-height: 30px;

    &::before {
      content: "24";
      width: 298px;
      height: 345px;
      position: absolute;
      top: -90px;
      bottom: 0;
      left: 0;
      font-size: 120px;
      font-family: "OpenSans Bold", "Arial", sans-serif;
      color: @support-textcolor;
      text-align: center;
      line-height: 360px;
      display: block;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    p {
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
    }
  }

  .effect__title {
    width: auto;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 28px;
  }
}
