.filter-form {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 40px;
  background-color: @main-bgcolor;

  &--app {
    padding-top: 41px;
  }
}

.filter-form__item {
  position: relative;
}

.filter-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 30px;
}

.filter-form__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: @support-textcolor;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .filter-form {
    position: relative;
    padding: 0;
    margin-bottom: 59px;
    background-color: @white-bgcolor;
  }

  .filter-form__list {
    padding: 0;
    padding-left: 60px;
    padding-top: 36px;
    border: 1px solid @border-color;
  }

  .filter-form__title {
    width: 436px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    background-color: @white-bgcolor;
  }
}
