.filter-form {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 22px;
  background-color: @main-bgcolor;

  &--achievment {
    padding-top: 35px;
  }

  &--app {
    padding-top: 37px;
    padding-bottom: 5px;
  }
}

.filter-form__item {
  position: relative;
}

.filter-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 30px;
}

.filter-form__title {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: @support-textcolor;
  text-align: center;
  text-transform: uppercase;

  &--achievment {
    width: 220px;
    margin-bottom: 43px;
  }

  &--app {
    width: 180px;
    margin-bottom: 38px;
  }
}

@media (min-width: @tablet-width) {
  .filter-form {
    position: relative;
    padding: 0;
    margin-bottom: 65px;
    background-color: @white-bgcolor;

    &--achievment {
      padding-top: 48px;
    }
  }

  .filter-form__list {
    padding: 0;
    padding-left: 60px;
    padding-top: 36px;
    border: 1px solid @border-color;

    &--app {
      padding: 52px 0 20px 60px;
    }

    &--achievment {
      padding: 60px 0 0 54px;
    }
  }

  .filter-form__title {
    width: 380px;
    margin: 0 auto;
    position: relative;
    top: 11px;
    background-color: @white-bgcolor;

    &--achievment {
      width: 430px;
    }
  }
}

@media (min-width: @desktop-width) {
  .filter-form {
    &--app {
      width: 341px;
      margin: 0;
      margin-left: 74px;
      margin-bottom: 70px;
      flex-grow: 2;
    }
  }

  .filter-form__list {
    &--achievment {
      height: 228px;
      padding-top: 55px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--app {
      padding-left: 78px;
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }

  .filter-form__title {
    &--app {
      width: 355px;
      top: 8px;
    }

    &--achievment {
      top: 6px;
    }
  }
}
