.options {
  margin: 0;
  padding: 0;
  padding-top: 102px;
  padding-bottom: 45px;
}

.options__wrapper {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .options {
    padding-bottom: 70px;
  }

  .options__toggles {
    display: none;
  }
}
