.page-header {
  margin: 0 auto;
  position: relative;
  background-color: @dominate-bgcolor;
}

.page-header__logo {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 22px;
  margin-bottom: 19px;
  margin-left: 20px;

  &:hover path {
    fill: @support-bgcolor;
  }

  &:active path {
    fill: @white-bgcolor;
    opacity: 0.3;
  }
}
