.page-footer {
  margin: 0 auto;
  padding: 20px 75px 30px 73px;
  background-color: @white-bgcolor;

  &--hidden {
    display: none;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;

  &:hover path {
    fill: @support-bgcolor;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 20px 50px;
    position: relative;
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 130px;
    padding-right: 130px;
  }
}
