.page-main {
  width: 320px;
  margin: 0 auto;
  background-color: @deepblue-bgcolor;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -64px;
  object-fit: contain;
}

.page-main__title {
  margin: 0 auto;
  padding: 0;
  font-family: "OpenSans Light";
  font-size: 24px;
  color: @dominate-textcolor;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  &--photo {
    padding: 36px 76px 87px;
  }

  &--form {
    padding: 36px 46px 87px;
  }
}
