.page-header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.page-header__logo {
  height: 66px;
  width: 75px;
  margin-left: 20px;
  position: relative;

  svg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  &:hover path {
    fill: @support-bgcolor;
  }

  &:active path {
    fill: @white-bgcolor;
    opacity: 0.3;
  }
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    width: 147px;
    height: 109px;

    svg {
      margin: 27px auto 43px;
    }
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: rgba(@black-bgcolor, 0.3);
  }

  .page-header__wrapper {
    max-width: 940px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }

  .page-header__logo {
    height: 110px;
    margin: 0;
    padding: 0;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-desktop {
    display: inline-block;
  }
}
