.page-footer {
  margin: 0 auto;
  padding: 20px 75px 30px 73px;
  background-color: @white-bgcolor;

  &--hidden {
    display: none;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 32px;

  &:hover path {
    fill: @support-bgcolor;
  }

  &:active path {
    opacity: 0.3;
  }
}

.page-footer__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin: 0;
    padding: 0;

    &--hidden {
      display: block;
    }
  }

  .page-footer__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo-mobile {
    display: none;
  }

  .page-footer__logo-desktop {
    display: inline-block;
  }

  .page-footer__wrapper {
    width: 940px;
    padding-top: 70px;
    padding-bottom: 74px;
  }
}
