.photo-list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
  list-style: none;
}

.photo-list__link {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
}

.photo-list__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: @main-bgcolor;

  &--panorama {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.photo-list__link--panorama {
  margin-right: -20px;
  margin-left: -20px;
  position: relative;
}

.photo-list__sticker {
  position: absolute;
  right: 20px;
  width: 140px;
  height: 36px;
  padding-top: 5px;
  background-color: @support-bgcolor;
  text-transform: uppercase;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: @dominate-textcolor;
}

.photo-list__photo {
  margin: 0;
  padding: 0;
}

.photo-list__description {
  margin: 0;
  padding-left: 17px;
  padding-right: 13px;
  padding-bottom: 28px;
  padding-top: 20px;
}

.photo-list__text-author {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-family: "OpenSans Bold", sans-serif;
}

.photo-list__text-time {
  display: inline-block;
  vertical-align: baseline;
  top: 0;
  font-family: "OpenSans Light", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-list__comment {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}

.photo-list__button {
  width: 13px;
  height: 12px;
  margin: 0;
  padding: 0;
  margin-right: 19px;
  border: 0;
  cursor: pointer;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.photo-list__count {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @support-textcolor;
}

@media (min-width: @tablet-width) {
  .photo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-list__item {
    width: 300px;
    margin-bottom: 20px;
  }

  .photo-list__item--panorama {
    width: 100%;
    margin-bottom: 50px;
  }

  .photo-list__count {
    position: absolute;
    bottom: 15px;
    left: 20px;
  }

  .photo-list__button {
    position: absolute;
    bottom: 22px;
    left: auto;
    right: 20px;
  }

  .photo-list__item--panorama .photo-list__count {
    position: absolute;
    top: 160px;
    left: auto;
    right: 59px;
  }

  .photo-list__item--panorama .photo-list__button {
    position: absolute;
    top: 166px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-list {
    margin-right: 130px;
    margin-left: 130px;
  }

  .photo-list__item {
    margin-bottom: 54px;
  }

  .photo-list__item--panorama {
    width: 100%;
    margin-bottom: 50px;
  }
}
