.promo-banner {
  margin: 0 auto;
  padding: 0;
  background-color: @deepblue-bgcolor;
  color: @dominate-textcolor;
}

.promo-banner__slogan {
  margin: 0 auto;
  padding: 95px 45px 0;
  padding-top: 92px;
  margin-bottom: 30px;
  margin-top: -70px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: @dominate-textcolor;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    width: 320px;
    height: 314px;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.promo-banner__accessibility {
  width: 230px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 28px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.promo-banner__list {
  width: 208px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
}

.promo-banner__button {
  width: 281px;
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 28px;
  padding: 15px 0;
  color: @dominate-textcolor;
  border-color: #ffffff;

  &:hover {
    color: @support-textcolor;
    background-color: @white-bgcolor;
    border-color: @white-bgcolor;
  }

  &:active {
    color: @support-textcolor;
    opacity: 0.3;
    background-color: @white-bgcolor;
    border-color: @white-bgcolor;
  }
}

@media (min-width: @tablet-width) {
  .promo-banner {
    padding-top: 270px;
    padding-bottom: 112px;
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .promo-banner__wrapper {
    width: 660px;
    margin: 0 auto;
    padding: 0;
  }

  .promo-banner__wrapper-block {
    width: 300px;
    margin: 0;
    margin-right: 340px;
    margin-left: 20px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &::after {
      content: "";
      width: 660px;
      height: 545px;
      padding: 0;
      margin: 0 auto;
      display: block;
      position: absolute;
      bottom: -112px;
      left: -30px;
      transform: none;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  .promo-banner__slogan {
    padding: 0 20px;
    margin-bottom: 39px;
    position: relative;
    font-size: 40px;
    line-height: 40px;
    background: transparent;

    &::after {
      content: "";
      display: none;
    }
  }

  .promo-banner__accessibility {
    font-size: 18px;
    line-height: 24px;
    z-index: 3;
  }

  .promo-banner__list {
    margin: 0 auto;
    margin-bottom: 41px;
    z-index: 3;
  }

  .promo-banner__button {
    z-index: 2;
    width: 300px;
    margin: 0;
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .promo-banner {
    padding-top: 290px;
    padding-bottom: 125px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .promo-banner__wrapper {
    width: 920px;
  }

  .promo-banner__wrapper-block {
    margin-right: 799px;
    margin-left: 0;

    &::after {
      content: "";
      width: 960px;
      height: 645px;
      bottom: -125px;
      left: -20px;
      transform: none;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  .promo-banner__slogan {
    margin-bottom: 61px;
    font-size: 50px;
    line-height: 50px;
  }

  .promo-banner__button {
    margin-bottom: 75px;
  }

  .promo-banner__list {
    margin-bottom: 60px;
    z-index: 3;
  }
}
