.promo-banner {
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @deepblue-bgcolor;
  color: @dominate-textcolor;
}

.promo-banner__accessibility {
  font-family: "OpenSans Light", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.promo-banner__list {
  list-style: none;
}

.promo-banner__button {
  width: 281px;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  color: @dominate-textcolor;
  border-color: #ffffff;

  &:hover {
    color: @support-textcolor;
    background-color: @white-bgcolor;
    border-color: @white-bgcolor;
  }

  &:active {
    color: @support-textcolor;
    opacity: 0.3;
    background-color: @white-bgcolor;
    border-color: @white-bgcolor;
  }
}
