.reviews {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: @white-bgcolor;
}

.reviews__list {
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
  list-style: none;
}

.reviews__name {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @black-textcolor;
  text-align: center;
}

.reviews__text {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: @main-textcolor;
  text-align: center;
}
