.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  padding-right: 75px;
  padding-left: 73px;
  list-style: none;
}

.social__item {
  position: relative;
  width: 46px;
  height: 46px;
  border: 3px solid @main-bgcolor;
  border-radius: 50px;
  text-align: center;
}

.social__item svg {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
