.table-list {
  margin: 0;
  margin-bottom: 45px;
  margin-left: -535px;
  color: @dominate-textcolor;
  background-color: @main-bgcolor;
  text-transform: uppercase;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-list__tariff {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 21px;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: @dominate-bgcolor;
  border: 2px solid @border-color;
  border-top: 0;

  &--hit {
    overflow: hidden;
    position: relative;
  }

  &--hidden {
    background: transparent;
    border: 0;
  }
}

.table-list__sticker {
  height: 35px;
  width: 140px;
  background-color: @support-bgcolor;
  position: absolute;
  top: 10px;
  right: 170px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
}

.table-list__header {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.table-list__price {
  margin: 0;
  padding: 0;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.table-list__decoration {
  margin: 0;
  padding: 23px 0;
  font-family: "OpenSans", "Arial", sans-serif;
  color: @main-textcolor;
  border: 2px solid @border-color;
  background-color: @white-bgcolor;
}

.table-list__wrapper {
  width: 276px;
  box-sizing: border-box;
  padding: 0 18px 0 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-list__filter {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: baseline;
  line-height: 30px;
}

.table-list__checkbox {
  display: inline-block;
  vertical-align: baseline;
  line-height: 30px;

  &--yes {
    width: 31px;
    height: 21px;
    fill: @check-color;
  }

  &--no {
    width: 27px;
    height: 26px;
    fill: @cross-color;
  }
}

@media (min-width: @tablet-width) {
  .table-list {
    margin: 0 auto;
    padding: 0;
    margin-left: auto;
  }

  .table-list__wrapper {
    width: 154px;
    padding: 0;
  }

  .table-list__decoration {
    padding: 14px 0 10px;
  }

  .table-list__tariff {
    padding: 13px 0 13px;
  }

  .table-list__sticker {
    height: 30px;
    width: 140px;
    top: 5px;
    right: 65px;
  }

  .table-list__header {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }

  .table-list__price {
    font-size: 18px;
    line-height: 30px;
  }

  .table-list__filter {
    display: none;
    padding-left: 15px;

    &--full {
      display: block;
      text-transform: none;
    }
  }

  .table-list__checkbox {
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .table-list__wrapper {
    width: 233px;
  }

  .table-list__filter {
    font-size: 18px;
    line-height: 30px;
  }

  .table-list__sticker {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600px;
    width: 140px;
    top: 5px;
    right: 135px;
  }
}
